<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Demo</title>
            <script>
                //方法
                function loginAction () {
                    setupWebViewJavascriptBridge(function(bridge) {
                                                 bridge.callHandler('login',
                                                                    {
                                                                    'blogURL': 'http://www.henishuo.com',
                                                                    'actionName':'login'
                                                                    },
                                                                    function responseCallback(responseData) {
                                                                    console.log("JS received response:", responseData)
                                                                    })
                                                 })
                }
            
            function pushTabbar () {
                setupWebViewJavascriptBridge(function(bridge) {
                                             bridge.callHandler('tabbar',
                                                                {
                                                                'tab': '1',
                                                                'actionName':'tabbar'
                                                                },
                                                                function responseCallback(responseData) {
                                                                console.log("JS received response:", responseData)
                                                                })
                                             })
            }
            
            function pushSubViewController () {
                setupWebViewJavascriptBridge(function(bridge) {
                                             bridge.callHandler('push',
                                                                {
                                                                'detailID': '1123123',
                                                                'actionName':'push'
                                                                },
                                                                function responseCallback(responseData) {
                                                                console.log("JS received response:", responseData)
                                                                })
                                             })
            }
            function showToast () {
                setupWebViewJavascriptBridge(function(bridge) {
                                             bridge.callHandler('showToast',
                                                                {
                                                                'message': 'JS 调用 OC 提示',
                                                                'actionName':'showToast'
                                                                },
                                                                function responseCallback(responseData) {
                                                                console.log("JS received response:", responseData)
                                                                })
                                             })
                                             
            }
            
            function payAction () { // 支付的时候  一般拿到订单列表是去native
                setupWebViewJavascriptBridge(function(bridge) {
                                             bridge.callHandler('pay',
                                                                {
                                                                'orderID': '1312312312',
                                                                'actionName':'pay'
                                                                },
                                                                function responseCallback(responseData) {
                                                                console.log("JS received response:",  responseData)
                                                                //  根据返回做操作
                                                                 alert(responseData['data']['message']);
                                                                })
                                             })
                                             
            }
            
                </script>
    </head>
    <body>
        <h1>实际项目中 JS 与 iOS 的交互事件</h1>
        <br/>
        <br/>
        <br/>
        
        <p>1.网页中需要用户UserID ,token  JS调用 原生的登录事件</p>
        <button id="login" onclick="loginAction()">登录</button>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <p>2.JS 调用OC 回到 Tabbar </p>
        <button id="tabbar" onclick="pushTabbar()">tabbar</button>
        <br/>
        <br/>
        <br/>
        
        <p>3.跳转到某些子界面</p>
        <button id="push" onclick="pushSubViewController()">pushSubViewController</button>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <p>4. 弹出一个提示框</p>
        <button id="showToast" onclick="showToast()">显示提示</button>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <p>5.网页订单调用原生支付界面 完成支付回调支付结果</p>
        <button id="pay" onclick="payAction()">调用支付</button>
        <br/>
        <br/>
        <br/>
        <script>
            //        init JS  //固定写法
            window.onerror = function(err) {
                log('window.onerror: ' + err)
            }
        
        function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
        }
        
        
            </script>
        
        
    </body>
</html>